@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff7613;
  --text-color: #727171;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

/* Common Styles */

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.description_ref {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400rem;
  color: var(--text-color);
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.item_preTitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.item_subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.item_title {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
}

.item_title_edu {
  /* margin-top: 6.5rem; */
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
}

.item_title_edu:hover {
  color: var(--primary-color);
}

.item_description {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

/* Layouts */

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background-color: #070707;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    /* padding: 2rem; */
    gap: 4rem;
  }
}

.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.group-1,
.group-2 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.group-3 {
  display: flex;
  justify-content: space-evenly;
  max-width: 900px;
  /* max-width: 700px; was size for v1.0 */
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.group-3 > div {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .profile {
    margin-bottom: 0;
  }
  .group-3 {
    flex-direction: column;
  }
}

/* Profile - Top Section */

.profile_container {
  display: flex;
  gap: 2rem;
}

.profile_profile_image {
  max-width: 250px;
}
.profile_name_firstName {
  color: white;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}

.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  display: block;
}

.profile_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.downloadBtn {
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: 50;
  margin-top: 1rem;
}

.download {
  gap: 0.5rem;
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.download:hover {
  color: var(--primary-color);
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .profile_container {
    flex-direction: column;
  }
}

.disabled {
  pointer-events: none;
}

/* Skills */

.skill_list {
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2;
}

/* Education */

.edu_item {
  margin-top: 2.5rem;
}

.modal_te_img {
  margin-top: 1.5rem;
  width: 100%;
  height: auto;
  border-radius: 5px;
  /* margin-bottom: 1rem; */
}

/* Certifications */

.certification_item {
  margin-top: 2.5rem;
  border-radius: 5px;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
  border-radius: 5px;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal_ethereum_img {
  width: 100%;
  height: auto;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  /* display: flex; */
  height: auto;
  width: 50%;
  height: fit-content;
  margin: auto;
  overflow: auto;
  background: white;
  border-radius: 5px;
  padding: 1em 2em;
  padding-bottom: 2rem;
}

.modal__close {
  position: sticky;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  align-self: flex-end;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal .modal__inner {
    width: 90%;
    /* height: 90%; */
    max-height: 100%;
    box-sizing: border-box;
  }
}

.modal_class_rdk {
  background-color: white;
  color: var(--text-color);
  margin-top: 1.5rem;
}

.row_rdk {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column_rdk {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.column_rdk img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .column_rdk {
    flex: 50%;
    max-width: 50%;
    /* max-height: 100%; */
  }
}

.btn {
  margin-top: 1rem;
  cursor: pointer;
  background: var(--text-color);
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: var(--primary-color);
}

.btn:active {
  background: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

p img {
  max-width: auto;
  max-height: auto;
  /* float: left; */
  margin: 0 1em 1em 0;
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    max-height: 100%;
    /* height: 90%; */
    box-sizing: border-box;
  }
}

/* TEST UNTITLED SECTION*/
.untitled_item {
  margin-top: 2.5rem;
}

/* Experience */

.exp_item {
  margin-top: 2.5rem;
}

/* V2.0 REFERENCE SECTION CSS */

.ref_link {
  /* margin-top: 0.5rem; */
  /* padding-top: 0.5rem; */
  font-size: 1.5rem;
  display: flex;
  /* gap: 0.5rem; */
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

/* .ref_link:hover {
  color: var(--primary-color);
} */

.ref_item {
  margin-top: 2.5rem;
}

.ref_name {
  font-size: 1.6rem;
  font-weight: 700;
}

/* .ref_link:hover {
  color: var(--primary-color);
} */

/* Untitled  */

.ref_link_formatBtn {
  text-decoration: underline;
  font-size: 1.6rem;
  font-weight: 50;
  margin-top: 1rem;
}

.ref_link_format {
  margin-top: 0.25rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.ref_link_format:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Interest */

.interest_items {
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  /* flex-wrap: nowrap; */
  white-space: nowrap;
  gap: 2rem;
}

.interest_item {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text-color);
  font-weight: 400;
}

.interest_icon {
  height: auto;
  width: 3rem;
  color: var(--text-color);
}

.interest_item svg {
  width: 2rem;
}

/* About */

.i {
  font-style: italic;
}

.about_cv {
  margin-top: 1rem;
}

.about_web3 {
  background-color: black;
  color: var(--text-color);
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  border-radius: 5px;
  /* Scroll bar below */
  overflow-y: auto;
  max-height: 50rem;
  padding-right: 1rem;
}

.title_web3 {
  color: var(--primary-color);
  margin-top: 1rem;
  margin-left: 1rem;
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.item_preTitle_web3 {
  color: var(--text-color);
  font-size: 1.4rem;
  display: flex;
  font-weight: 400;
}

.item_title_web3 {
  display: flex;
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
  margin-left: 1rem;
}

.item_subtitle_web3 {
  font-size: 1.4rem;
  color: var(--text-color);
  text-align: left;
  font-weight: 400;
  margin-left: 1.1rem;
  margin-bottom: 1rem;
  display: flex;
}

.modal_web3 {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  max-width: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
}

.modal__bg_web3 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state_web3 {
  display: none;
}

.modal-state_web3:checked + .modal_web3 {
  opacity: 1;
  visibility: visible;
}

.modal-state_web3:checked + .modal_web3 .modal__inner_web3 {
  top: 0;
}

.modal__inner_web3 {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  height: auto;
  width: 50%;
  height: fit-content;
  margin: auto;
  overflow: auto;
  background: white;
  border-radius: 5px;
  padding: 1em 2em;
  padding-bottom: 2rem;
}

.modal__close_web3 {
  position: sticky;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close_web3:after,
.modal__close_web3:before {
  content: "";
  position: absolute;
  align-self: flex-end;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close_web3:hover:after,
.modal__close_web3:hover:before {
  background: #aaa;
}

.modal__close_web3:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal_web3 .modal__inner_web3 {
    width: 90%;
    max-height: 100%;
    box-sizing: border-box;
  }
}

.inspirations {
  display: flex;
  align-content: space-around;
  margin-bottom: 1.5rem;
}

.inspiration_item {
  font-size: 1.5rem;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text-color);
  font-weight: 300;
}

/* Contact */

/* Social */

.social_item {
  margin-top: 0.25rem;
  font-size: 1.5rem;
  font-weight: 400;
  display: flex;
  gap: 0.4rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

.social_item:hover {
  color: var(--primary-color);
}
.social_item svg {
  width: 2rem;
}

/* HR grey bar*/

hr {
  grid-column: 1/-1;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.304);
}

@media only screen and (max-width: 768px) {
  hr {
    margin: 0 auto;
  }
}
