@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #ff7613;
  --text-color: #727171;
}

html {
  font-size: 10px;
}

body {
  font-family: Inter, sans-serif;
  background-color: black;
  color: white;
}

/* Common Styles */

img {
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

.description {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
}

.description_ref {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400rem;
  color: var(--text-color);
}

.title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 2rem;
  text-transform: uppercase;
}

.item_preTitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 300;
}

.item_subtitle {
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

.item_title {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
}

.item_title_edu {
  font-size: 1.6rem;
  color: white;
  font-weight: 500;
  margin: 0.8rem 0;
}

.item_title_edu:hover {
  color: var(--primary-color);
}

.item_description {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  color: var(--text-color);
  font-weight: 400;
}

/* Layouts */

.container {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  padding: 5rem;
  background-color: #070707;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

@media only screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
}

.profile {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.group-1,
.group-2 {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.group-3 {
  max-width: 900px;
  /* max-width: 700px; was size for v1.0 */
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.group-3 > div {
  flex: 1;
}

@media only screen and (max-width: 768px) {
  .profile {
    margin-bottom: 0;
  }
  .group-3 {
    flex-direction: column;
  }
}

/* Profile - Top Section */

.profile_container {
  display: flex;
  gap: 2rem;
}

.profile_profile_image {
  max-width: 250px;
}
.profile_name_firstName {
  color: white;
  font-weight: 200;
  font-size: clamp(2rem, 8vw, 4rem);
  text-transform: uppercase;
  display: block;
  margin-bottom: -0.8rem;
}

.profile_name_lastName {
  color: var(--primary-color);
  font-weight: 700;
  font-size: clamp(2.5rem, 15vw, 7rem);
  text-transform: uppercase;
  display: block;
}

.profile_title {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.downloadBtn {
  display: block;
  text-decoration: underline;
  font-size: 1.6rem;
  margin-top: 1rem;
}
.downloadBtn:hover {
  color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
  .profile_container {
    flex-direction: column;
  }
}

/* Skills */

.skill_list {
  margin-top: 1rem;
  margin-left: 2rem;
  line-height: 2;
}

/* Reference */

.ref_link {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

.ref_link:hover {
  color: var(--primary-color);
}

.ref_item {
  margin-top: 2rem;
}

.ref_name {
  font-size: 1.6rem;
  font-weight: 700;
}

/* .ref_link {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

.ref_link:hover {
  color: var(--primary-color);
} */

/* Education */

.edu_item {
  margin-top: 2rem;
}

/* Certifications */

.certification_item {
  margin-top: 2rem;
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: left;
  background: rgba(0, 0, 0, 0.9);
  transition: opacity 0.25s ease;
}

.modal__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

.modal-state {
  display: none;
}

.modal-state:checked + .modal {
  opacity: 1;
  visibility: visible;
}

.modal-state:checked + .modal .modal__inner {
  top: 0;
}

.modal__inner {
  transition: top 0.25s ease;
  position: absolute;
  top: -20%;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  margin: auto;
  overflow: auto;
  background: white;
  border-radius: 5px;
  padding: 1em 2em;
  height: 50%;
}

.modal__close {
  position: absolute;
  right: 1em;
  top: 1em;
  width: 1.1em;
  height: 1.1em;
  cursor: pointer;
}

.modal__close:after,
.modal__close:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 1.5em;
  background: #ccc;
  display: block;
  transform: rotate(45deg);
  left: 50%;
  margin: -3px 0 0 -1px;
  top: 0;
}

.modal__close:hover:after,
.modal__close:hover:before {
  background: #aaa;
}

.modal__close:before {
  transform: rotate(-45deg);
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

/* Other
 * =============================== */
/* .link_to_cert {
  padding: 1%;
  font: 1/1.5em sans-serif;
  text-align: center;
} */

.btn {
  margin-top: 1rem;
  cursor: pointer;
  background: var(--text-color);
  display: inline-block;
  padding: 0.5em 1em;
  color: #fff;
  border-radius: 3px;
}

.btn:hover,
.btn:focus {
  background: var(--primary-color);
}

.btn:active {
  background: var(--primary-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
}

p img {
  max-width: auto;
  max-height: auto;
  /* float: left; */
  margin: 0 1em 1em 0;
}

@media screen and (max-width: 768px) {
  .modal__inner {
    width: 90%;
    height: 90%;
    box-sizing: border-box;
  }
}

/* Experience */

.exp_item {
  margin-top: 2rem;
}

/* Untitled  */

.untitled_item {
  margin-top: 2rem;
}

/* Interest */

.interest_items {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.interest_item {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--text-color);
}

.interest_item svg {
  width: 2rem;
}

/* Contact */

/* Social */

.social_item {
  margin-top: 2rem;
}

.social_item {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
  color: var(--text-color);
}

.social_item:hover {
  color: var(--primary-color);
}
.social_item svg {
  width: 2rem;
}

/* HR grey bar*/

hr {
  grid-column: 1/-1;
  width: 80%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 1rem;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.304);
}

@media only screen and (max-width: 768px) {
  hr {
    margin: 0 auto;
  }
}
